:root{
    --deep-red: #510414;
    --bright-red: #990E0E;
    --shadow-red: #35010c;
    --soft-gold: #D5B88F;
    --soft-grey: #F0F0F0;
    --pure-white: #FFFFFF;
    --medium-black: #0d0d0d;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    /*outline: 1px solid red;*/
}

#openingSequence{
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--medium-black);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letterContainer{
    width: 80svw;
    height: 50svw;
    background: linear-gradient(var(--shadow-red) 20%, var(--bright-red));
    position: absolute;
    transform-style: preserve-3d;
    transform: translateY(250%) scale(0.2) rotatex(0deg);

    animation: letterSlideIn 5s cubic-bezier(.33,1.08,.84,1.08) forwards;
}

#frontLetterContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    backface-visibility: hidden;
}

#backLetterContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient( ellipse at center, var(--bright-red) 0%, var(--deep-red) 70%);
    transform: rotateY(180deg);
    filter: drop-shadow(0px 0px 200px rgba(255, 255, 255, 0)) drop-shadow(0px 0px 100px rgba(255, 255, 255, 0));

    animation: glow 1.5s ease-in-out alternate infinite;
    animation-delay: 4s;

}

#innerElements{
    width: 100%;
    height: 100%;
    grid-column-start: 1;grid-column-end: 4;grid-row-start: 1;grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

#lidShadow{
    width: 100%;
    height: 100%;
    grid-column-start: 1;grid-column-end: 4;grid-row-start: 1;grid-row-end: 3;
    
    filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    /*animation: noShadow 1.5s forwards ease-out;
    animation-delay: 200ms;*/
}

#letterLidContainer{
    width: inherit;
    height: inherit;
    transform-origin: center top;
    transform-style: preserve-3d;
    /*animation: openLetter 1.5s forwards ease-out;
    animation-delay: 200ms;*/
}

.lid{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}

#outer{
    background: radial-gradient( ellipse at top, var(--bright-red) 20%, var(--deep-red) 70%);

}

#inner{
    background: linear-gradient(var(--shadow-red) 20%, var(--bright-red));
    transform: rotateY(180deg);
}


.letterSide{
    width: 100%;
    height: 100%;
    position: absolute;
}

#bottomShadow{
    width: 100%;
    height: 100%;
    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 2; grid-row-end: 4;
    filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    /*animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#leftShadow{
    width: 100%;
    height: 100%;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 1; grid-row-end: 4;
    filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    /*animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#rightShadow{
    width: 100%;
    height: 100%;
    grid-column-start: 3; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 4;
    filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    /*animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#bottomSide{
    width: inherit;
    height: inherit;
    background: radial-gradient( ellipse at top, var(--bright-red) 20%, var(--deep-red) 70%);
    clip-path: polygon(100% 100%, 50% 0%, 0% 100%);

}

#leftSide{
    width: inherit;
    height: inherit;
    background: radial-gradient( ellipse at top right, var(--bright-red) 20%, var(--deep-red) 70%);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);

}

#rightSide{
    width: inherit;
    height: inherit;
    background: radial-gradient( ellipse at top left, var(--bright-red) 20%, var(--deep-red) 70%);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);

}

#sparkleContainer{
    position: absolute;
    bottom: 0%;
    height: 75svh;
    width: 100svw;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

#mainLineContainer{
    border: 2px solid red;
    grid-column-start: 2; grid-column-end: 15;
    grid-row-start: 3; grid-row-end: 31;
}

.mainLine{
    fill: var(--medium-black);
    background-color: #FFFFFF;
    stroke: #F0F0F0;
    stroke-width: 10%;
}


/* Animations */

@keyframes openLetter {
    from{
        transform: rotatex(0deg);
    }to{
        transform: rotatex(180deg);
    }
}

@keyframes noShadow {
    0%{
        filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    }50%{
        filter: drop-shadow(0px 10px 20px rgba(39, 1, 1, 0));
    }100%{
        filter: drop-shadow(0px 10px 20px rgba(39, 1, 1, 0));
    }
}

@keyframes pulse {
    from{
        filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    }to{
        filter: drop-shadow(0px 10px 20px rgb(255, 0, 0));
    }
}

@keyframes letterSlideIn {
    0%{
        transform: translateY(250%) scale(0.2) rotateY(0deg);
        
    }20%{
        transform: translateY(140%) scale(0.4);
        
    }30%{
        transform: translateY(143%) scale(0.4) rotateY(-25deg);
    }35%{
        transform: translateY(144%) scale(0.4) rotateY(-27deg);
       
    }100%{
        transform: translateY(0%) scale(1) rotateY(720deg);
    }
}

@keyframes glow {
    from{
        filter: drop-shadow(0px 0px 200px rgba(255, 255, 255, 0)) drop-shadow(0px 0px 200px rgba(255, 255, 255, 0));
    }to{
        filter: drop-shadow(0px 0px 400px rgb(255, 255, 255)) drop-shadow(0px 0px 200px rgb(255, 255, 255));
    }
}

@keyframes closeUp {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}