:root{
    --deep-red: #510414;
    --bright-red: #990E0E;
    --shadow-red: #35010c;
    --soft-gold: #D5B88F;
    --soft-grey: #F0F0F0;
    --pure-white: #FFFFFF;
    --medium-black: #0d0d0d;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    /*outline: 1px solid red;*/
}

html{
    background-color: var(--medium-black);
}

#openingSequence{
    width: 100svw;
    height: 100svh;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: var(--medium-black);
    justify-content: center;
    align-items: center;
}

#letterContainer{
    width: 80svw;
    height: 80svw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    transform-style: preserve-3d;
    transform: translateY(250%) scale(0.2) rotateY(0deg);

    animation: letterSlideIn 6s cubic-bezier(.33,1.08,.84,1.08) forwards;
}

@keyframes letterSlideIn {
    0%{
        transform: translateY(250%) scale(0.2) rotateY(0deg);
        
    }20%{
        transform: translateY(110%) scale(0.4);
        
    }30%{
        transform: translateY(120%) scale(0.4) rotateY(-25deg);

    }100%{
        transform: translateY(0%) scale(1) rotateY(720deg);

    }
}
#backLetterContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;

    grid-column-start: 1; grid-column-end: 2; grid-row-start: 3; grid-row-end: 6;
    background: radial-gradient(ellipse at top, var(--bright-red) -20%, var(--shadow-red) 85%);
    transform: rotateY(180deg);

    /*Animation to be added via JS script
    
    filter: drop-shadow(0px 0px 200px rgba(255, 255, 255, 0)) drop-shadow(0px 0px 100px rgba(255, 255, 255, 0));
    animation: glow 1.5s ease-in-out alternate infinite;
    animation-delay: 4s;*/
}


#frontLetterContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 6;
    backface-visibility: hidden;
}

#innerLetterElements{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 6;
    overflow: hidden;
}

#lidWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;

    grid-column-start: 1; grid-column-end: 4; grid-row-start: 3; grid-row-end: 5;
    filter: drop-shadow(0px 0px 25px var(--medium-black));
    z-index: 100;
    
    /* Animation to be added via JS script
    
    animation: noShadow 1.5s forwards ease-out;
    animation-delay: 200ms;*/
}

@keyframes fadeLidShadow {
    0%{
        filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
        z-index: 100;
    }50%{
        filter: drop-shadow(0px 10px 20px rgba(39, 1, 1, 0));
        z-index: 0;
    }100%{
        filter: drop-shadow(0px 10px 20px rgba(39, 1, 1, 0));
        z-index: 0;
    }
}

#lidContainer{
    width: inherit;
    height: inherit;
    transform-origin: center top;
    transform-style: preserve-3d;

    /* Animation to be added via JS script
    
    animation: openLetter 1.5s forwards ease-out;
    animation-delay: 200ms;*/
}

.lid{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}

#outerLid{
    background: radial-gradient( ellipse at top, var(--bright-red) 10%, var(--deep-red) 80%);
}

#innerLid{
    background: linear-gradient(var(--shadow-red) 10%, var(--bright-red) 125%);
    transform: rotateY(180deg);
}

#innerLetterBackground{
    width: 100%;
    height: 100%;
    grid-column-start: 1; grid-column-end: 4; grid-row-start: 3; grid-row-end: 6;
    background: var(--shadow-red);
}

#letterCardContainer{
    width: 95%;
    height: 90%;
    position: absolute;
    bottom: 2%;
    background-color: var(--pure-white);
    grid-column-start: 1; grid-column-end: 4; grid-row-start: 3; grid-row-end: 6;
}

#glowWrapper{
    width: 97%;
    height: 99%;
    position: absolute;
    top: 0%;
    display: grid;
    justify-items: center;
    grid-column-start: 1; grid-column-end: 4; grid-row-start: 1; grid-row-end: 6;
    overflow: hidden;
}

#glowContainer{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 0px rgb(241, 169, 44));
    mix-blend-mode: hard-light;
    animation: letterGlow 1s ease-in-out alternate infinite;
}

@keyframes letterGlow {
    from{
        filter: drop-shadow(0px 0px 0px rgb(241, 169, 44)) drop-shadow(0px 0px 0px rgba(235, 130, 18));
    }to{
        filter: drop-shadow(0px 0px 40px rgb(241, 208, 44, 0.8)) drop-shadow(0px -20px 30px rgba(235, 130, 18, 0.8));
    }
}

#glowEmmiter{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--medium-black);
    clip-path: polygon(0% 42%, 0% 100%, 100% 100%, 100% 42%, 59% 68%, 50% 61%, 41% 68%);
}

.letterShape{
    width: 100%;
    height: 100%;
    position: absolute;
}

#bottomWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-column-start: 1; grid-column-end: 4; grid-row-start: 4; grid-row-end: 6;
    filter: drop-shadow(0px 0px 25px var(--shadow-red));

    /* Animation to be added via JS script
    
    animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#leftWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 3; grid-row-end: 6;
    filter: drop-shadow(0px 0px 20px var(--shadow-red));

    /*animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#rightWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    display: grid;
    grid-column-start: 3; grid-column-end: 4;
    grid-row-start: 3; grid-row-end: 6;
    filter: drop-shadow(0px 0px 20px var(--shadow-red));

    /*animation: pulse 1s ease-in-out alternate infinite;
    animation-delay: 2s;*/
}

#bottomComponent{
    width: 100%;
    height: 100%;
    background: radial-gradient( ellipse at top, var(--bright-red) 20%, var(--deep-red) 70%);
    clip-path: polygon(100% 100%, 50% 0%, 0% 100%);

}

#leftComponent{
    width: 100%;
    height: 100%;
    background: radial-gradient( ellipse at top right, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);

}

#rightComponent{
    width: 100%;
    height: 100%;
    background: radial-gradient( ellipse at top left, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);

}



#sparkleContainer{
    position: absolute;
    bottom: 0%;
    height: 75svh;
    width: 100svw;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

#mainLineContainer{
    grid-column-start: 2; grid-column-end: 15;
    grid-row-start: 3; grid-row-end: 31;
}

.topLine{
    fill: var(--medium-black);
    background-color: #FFFFFF;
    stroke: #F0F0F0;
    stroke-width: 0.2%;
    stroke-dasharray: 200000px;
    stroke-dashoffset: 1350000px;
    clip-path: url(#topMainLine);
}

/* Animations */

@keyframes openLetter {
    from{
        transform: rotatex(0deg);
    }to{
        transform: rotatex(180deg);
    }
}

@keyframes pulse {
    from{
        filter: drop-shadow(0px 10px 20px rgb(39, 1, 1));
    }to{
        filter: drop-shadow(0px 10px 20px rgb(255, 0, 0));
    }
}

@keyframes closeUp {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}